<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JPA Project</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
<h1 class="p-3">
JPA Project
    <a href="/addDummyData" class="float-end btn btn-outline-secondary btn-lg btn-block">Tabellen opvullen</a>
</h1>
<!-- Tabellen opvullen-->
<div th:if="${feedbacktekst}">
    <p class="m-3" th:text="${feedbacktekst}"></p>
</div>
<div class="p-3">
    <a href="/personeelsleden" class="btn btn-primary btn-lg btn-block">Personeelsleden</a>
    <a href="/bestellingen" class="btn btn-primary btn-lg btn-block">Bestellingen</a>



</div>
<!--Footer-->
<div class="border-top border-dg footer p-2 bg-light text-dark text-center d-flex flex-wrap">
    <div class="col-12 d-flex flex-wrap text-dg">
        <div class=" col-12 col-sm-3 col-md-3 text-left p-3">
            <p class="font-weight-bold mb-0">JPA Project</p>
        </div>
        <div class=" col-12 col-sm-6 col-md-6 border-left border-light text-left p-3">
            <p class="font-weight-bold">Albert A. Baffour (2 APP/AI 02)</p>
        </div>
        <div class=" col-12 col-sm-3 col-md-3 border-left border-light text-left p-3">
            <p class="font-weight-bold">Thomas More 2021</p>

        </div>


    </div>


</div>
</body>
</html>

<!--<form action="/start">-->

<!--    <p>-->
<!--        <input type="submit" value="singletontest" name="singletontest"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        <input type="submit" value="observertest" name="observertest"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        <input type="submit" value="strategytest" name="strategytest"/>-->
<!--    </p>-->
<!--    <p>-->
<!--        <input type="submit" value="decoratortest" name="decoratortest"/>-->
<!--    </p>-->

<!--</form>-->