<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JPA Project</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

</head>
<body>
<h1 class="p-3">
JPA Project - Zoekpagina
    <a href="/" class="btn btn-outline-secondary float-end">Home</a>

</h1>

<div class="p-3">
    <form class="w-75 m-auto" action="/zoekactie">
        <div><label for="tafel">Tafel: </label>
            <select class="custom-select my-1 mr-sm-2 form-control" name="tafel" id="tafel" >
                <option value="" selected >tafels...</option>
                <option th:each="tafel : ${tafels}" th:text="${tafel.getCode()}" th:value="${tafel.getId()}"/>

            </select>
        </div>
        <div>
            <label class="my-1 mr-2" for="datum">Datum: </label>
            <input class="form-control" type="date" name="datum" id="datum" >
        </div>
        <div>
            <label class="my-1 mr-2" for="totaal">Minimum bedrag: </label>
            <input class="form-control" type="text" name="totaal" id="totaal" >
        </div>
        <br>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Zoeken</button>

    </form>
</div>
<!--Footer-->
<div class="border-top border-dg footer p-2 bg-light text-dark text-center d-flex flex-wrap">
    <div class="col-12 d-flex flex-wrap text-dg">
        <div class=" col-12 col-sm-3 col-md-3 text-left p-3">
            <p class="font-weight-bold mb-0">JPA Project</p>
        </div>
        <div class=" col-12 col-sm-6 col-md-6 border-left border-light text-left p-3">
            <p class="font-weight-bold">Albert A. Baffour (2 APP/AI 02)</p>
        </div>
        <div class=" col-12 col-sm-3 col-md-3 border-left border-light text-left p-3">
            <p class="font-weight-bold">Thomas More 2021</p>

        </div>


    </div>


</div>
</body>
</html>

